# Security Assessment

## Goal

{{ agreement.goal }}

## Parties

{% block parties %}{% endblock %}

## Term and Termination

{% block term_and_termination %}{% endblock %}

## Scope of Work

The Assessor will provide a security assessment as outlined in the attached document titled ”Rules of Engagement”

## Deliverables

{% block deliverables %}{% endblock %}

## Indemnification and Liability

{% block indem_and_liability %}{% endblock %}

## Payment

{% if payment.client_funded is not none %}
   {% block payment %}{% endblock %}
{% endif %}

## Signatures

{% block signatures %}


All parties, by signing below, accept and agree to the terms listed above and in all referenced
documents throughout:

{{ parties.recipient.representative.name }}:

_____________________________________


{{ parties.assessor.representative.name }}:

______________________________________

{% endblock %}


# Rules of Engagement

## Scope of Work

{% block sow %}{% endblock %}

## Assumptions and Limitations

{% block assumptions %}{% endblock %}

## Engagement Schedule

{% block schedule %}{% endblock %}

## Incident Response Procedures

{% block incident_response %}{% endblock %}

## Privacy and Security

{% block priv_sec %}{% endblock %}

## Safeguards to Protect Confidential Data and Communications

{% block safeguards %}{% endblock %}

## Signatures

By signing this document, {{ parties.recipient.representative.name }} gives {{ parties.assessor.representative.name }} permission to conduct a security assessment.

By signing this document, {{ parties.assessor.representative.name }} agrees to adhere to scope provided while running this Assessment. {{ parties.assessor.representative.name }} also agrees to adhere to the terms and conditions aforementioned in this document.

{{ parties.recipient.representative.name }}:

_____________________________________


{{ parties.assessor.representative.name }}:

______________________________________
