# Security Assessment Agreement

## Goal

{{ agreement.goal }}

## Parties

{% block parties %}{% endblock %}

## Purpose of Agreement

The Recipient requests the Service Provider perform a security assessment (the "Engagement") by performing work outlined in the attached document titled ”Rules of Engagement”. The Parties therefore agree as follows:

## Scope of Work

The Service Provider will provide a security assessment as outlined in the attached document titled ”Rules of Engagement” (”Rules of Engagement”, "Statement of Work", or "SOW")

## Project Term

{% block project_term %}{% endblock %}

## Changes in Project Scope

{% block scope_changes %}{% endblock %}

## Acceptance of Deliverables

{% block acceptance_of_deliverables %}{% endblock %}

{% if payment.assessor_provides_additional_service == true %}
## Additional Work and Addressing Vulnerabilities

{% block future_work %}{% endblock %}
{% endif %}

## Termination of Agreement or Statements of Work

{% block termination %}{% endblock %}

## Disputes

{% block disputes %}{% endblock %}

{% if disputes.losing_party_pays_winner == true %}
## Attorney Fees
{% block attorney_fees %}{% endblock %}
{% endif %}

## Force Majeure

{% block force_majeure %}{% endblock %}

{% if limitations_on_liability.limitations_on_liability != "" %}
## Limitations on Liability
{% block liability %}
{{ limitations_on_liability.limitations_on_liability }}
{% endblock %}
{% endif %}

{% if indemnities.indemnities != "" %}
## Indemnification
{% block indem %}
{{ indemnities.indemnities }}
{% endblock %}
{% endif %}

{% if assignment.ownership_of_work_product != "" %}
## Ownership of Work Product
{% block ownership_of_work_product %}
{{ assignment.ownership_of_work_product }}
{% endblock %}
{% endif %}

{% if survival.survival_clause != "" %}
## Survival
{% block  survival_clause %}
{{  survival.survival_clause }}
{% endblock %}
{% endif %}

{% if payment.funded == "recipient" %}
## Payment
   {% block payment %}{% endblock %}
{% endif %}

## Independant contractor

{% block independant_contractor %}{% endblock %}

## General Provisions

{% block general_provisions %}{% endblock %}

## Signatures

{% block signatures %}

The terms and conditions of this Agreement may be modified or amended as necessary only by written instrument signed by both parties. By signing this Agreement, I indicate that I understand, agree to and accept the terms and conditions listed above and in all referenced documents throughout, dated {{ term_of_contract.agreement_start_date }}.

**Service Provider**

{% for rep in representatives %}
{% if rep.party == "service_provider" %}
{% if rep.authorized_representative == true %}

- Name: {{ rep.name }}

- Title: {{ rep.title }}

- Date: ___________________________

- Signature: ___________________________

{% endif %}
{% endif %}
{% endfor %}

**Recipient**

{% for rep in representatives %}
{% if rep.party == "recipient" %}
{% if rep.authorized_representative == true %}

- Name: {{ rep.name }}

- Title: {{ rep.title }}

- Date: ___________________________

- Signature: ___________________________

{% endif %}
{% endif %}
{% endfor %}

{% endblock %}

# Rules of Engagement

## Representations and Warranties
{% block warranties %}{% endblock %}

## Scope of Work
{% block sow %}{% endblock %}

{% if payment.funded == "recipient" %}
## Payment Schedule
{% block pricing %}{% endblock %}
{% endif %}

{% if payment.assessor_rates_for_additional_services == true %}
## Rate Schedule
{% block rate_schedule %}{% endblock %}
{% endif %}

{% if agreement.producing_deliverables == true %}
## Deliverables

{% block deliverables %}{% endblock %}
{% endif %}

## Estimated Engagement Schedule

{% block schedule %}{% endblock %}

## Incident Response Procedures

{% block incident_response %}{% endblock %}

## Confidential Information

{% block priv_sec %}{% endblock %}

## Information Security Safeguards

{% block safeguards %}{% endblock %}

## Signatures

By signing this document, {{ parties.recipient_name }} gives {{ parties.service_provider_name }} permission to conduct the above Statement of Work and agrees to adhere to the terms and conditions aforementioned in this document.

By signing this document, {{ parties.service_provider_name }} agrees to conduct to the above Statement of Work. {{ parties.service_provider_name }} also agrees to adhere to the terms and conditions aforementioned in this document.

{% for rep in representatives %}{% if rep.party == "service_provider" %}{% if rep.authorized_representative == true %}
{{ rep.name }}

______________________________________

{% endif %}{% endif %}{% endfor %}


{% for rep in representatives %}{% if rep.party == "recipient" %}{% if rep.authorized_representative == true %}
{{ rep.name }}

______________________________________

{% endif %}{% endif %}{% endfor %}