# Security Assessment Agreement

## Goal

{{ agreement.goal }}

## Parties

{% block parties %}{% endblock %}

## Purpose of Agreement

The Recipient requests the Service Provider perform a security assessment (the "Engagement") by performing work outlined in the attached document titled ”Rules of Engagement”. The Parties therefore agree as follows:

## Scope of Work

The Service Provider will provide a security assessment as outlined in the attached document titled ”Rules of Engagement”

## Changes in the Scope

{% block scope_changes %}{% endblock %}

## Term and Termination

{% block term_and_termination %}{% endblock %}

## Disputes

{% block disputes %}{% endblock %}

## Indemnification and Liability

{% block indem_and_liability %}{% endblock %}

{% if payment.funded == "recipient" %}
## Payment
   {% block payment %}{% endblock %}
{% endif %}

## Signatures

{% block signatures %}

The terms and conditions of this Agreement may be modified or amended as necessary only by written instrument signed by both parties. By signing this Agreement, I indicate that I understand, agree to and accept the terms and conditions listed above and in all referenced documents throughout, dated {{ agreement.date }}.

{{ parties.recipient.representative.name }}:

_____________________________________


{{ parties.service_provider.representative.name }}:

______________________________________

{% endblock %}


# Rules of Engagement

## Scope of Work

{% block sow %}{% endblock %}

{% if payment.funded == "recipient" %}
## Payment Schedule
{% block pricing %}{% endblock %}
{% endif %}

## Deliverables

{% block deliverables %}{% endblock %}

## Assumptions and Limitations

{% block assumptions %}{% endblock %}

## Incident Response Procedures

{% block incident_response %}{% endblock %}

## Privacy and Security

{% block priv_sec %}{% endblock %}

## Safeguards to Protect Confidential Data and Communications

{% block safeguards %}{% endblock %}

## Signatures

By signing this document, {{ parties.recipient.representative.name }} gives {{ parties.service_provider.representative.name }} permission to conduct the above Statement of Work and agrees to adhere to the terms and conditions aforementioned in this document.

By signing this document, {{ parties.service_provider.representative.name }} agrees to conduct to the above Statement of Work. {{ parties.service_provider.representative.name }} also agrees to adhere to the terms and conditions aforementioned in this document.

{{ parties.recipient.representative.name }}:

_____________________________________


{{ parties.service_provider.representative.name }}:

______________________________________
