{% extends "plain_base.j2" %}

{% block parties %}

This contract agreement (the "Agreement") is entered into as of {{ term_of_contract.agreement_start_date }} by and between {{ parties.service_provider_name }} (the "Service Provider") and {{ parties.recipient_name }} (the "Recipient"), (collectively the "Parties").

{% endblock %}

{% block term_and_termination %}

This Agreement takes effect immediately as of the Agreement Date, and remains in full force and effect until Service Provider has completed the Engagement (the "Term"), unless earlier terminated by one party under the terms of this Agreement. All SOWs will automatically terminate upon early termination of this Agreement.

### How can we terminate this agreement?

Either Party may terminate this Agreement at any time, with or without cause, upon {{ termination_without_cause.days_in_notice_period }} written notice.

Either Party also may at any time terminate the Agreement immediately if the other party commits a breach of this Agreement and such party does not cure a breach within {{ termination_with_cause.days_to_remedy_breach }} of written notice from the non-breaching party of such breach.

### What happens if we terminate this agreement?

{% if payment.funded == "recipent" %}

If this Agreement is terminated earlier by Recipient without cause, Recipient agrees to pay Service Provider any and all sums which are due and payable for:
* services provided as of the date of termination; and
{% if expenses.who_pays_for_expenses == "recipient" %}
* expenses already incurred, including those from documented non-cancelable commitments. Service Provider agrees to use the best efforts to minimize such costs and expenses.
{% endif %}

Upon termination, Recipient shall pay to Service Provider all undisputed amounts due and payable. If upon termination Recipient has not paid undisputed fees owed for the material, deliverables or Services provided by Service Provider as of the date of termination, Recipient agrees not to use any such material or the product of such Service, until Recipient has paid Service Provider in full.

{% endif %}

Termination for any reason shall not affect the either Parties rights and/or responsibilities as outlined in the Privacy and Security section.

### Are there any exceptions?

Neither Party will not be deemed to be in breach of contract or otherwise responsible for delays or failures in performance resulting from **security incidents identified during the Engagement;** acts of God; acts of war or civil disturbance; epidemics; governmental action or inaction; fires; earthquakes; unavailability of labor, materials, power, or communication; or other causes that Parties reasonable control.
{% endblock %}

{% block disputes %}

{% if disputes.mediation_occurs_before_other_adr_or_legislation == true %}
### Disputes will be settled through mediation and the costs will be shared

If a dispute arises, the parties will try in good faith to settle it through a mediator to be mutually selected.

The parties will share the costs of the mediator equally. Each party will cooperate fully and fairly with the mediator and will attempt to reach a mutually satisfactory compromise to the dispute.

### If not resolved in mediation it will be submitted to binding arbitration

If the dispute is not resolved within {{ disputes.delay_after_mediation_before_requesting_other_means }} days after it is referred to the mediator, either party may submit it for binding arbitration in {{ disputes.location_for_litigation }} or another location mutually agreeable to the parties. The parties will share the costs of the arbitrator equally. An award of arbitration may be confirmed in a court of competent jurisdiction. This clause shall not preclude parties from seeking provisional remedies in aid of arbitration from a court of appropriate jurisdiction.
{% else %}
### Disputes will be settled through binding arbitration

Any dispute, claim or controversy arising out of or relating to this Agreement {{ disputes.location_for_litigation }} before one arbitrator. Judgment on the Award may be entered in any court having jurisdiction. The parties will share the costs of the arbitrator equally. This clause shall not preclude parties from seeking provisional remedies in aid of arbitration from a court of appropriate jurisdiction.
{% endif %}

{% if disputes.losing_party_pays_winner == true %}
### If arbitration or litigation is required the party who loses pays the other party's attorney's fees

In the event of arbitration, or litigation relating to the subject matter of this Agreement, the prevailing party shall have the right to collect from the other party its reasonable costs and necessary disbursements and attorneys' fees incurred in enforcing this Agreement.
{% endif %}
{% endblock %}

{% block scope_changes %}
{% if payment.funded == "recipient" %}The estimate outlined in the Section Payment Schedule of the Rules of Engagement is based on the scope of work and deliverables outlined. In the event that the scope of work changes, service provider will provide you with either a change order to this estimate or a new estimate covering the new project deliverables or added scope. Your signature on such document will be considered an amendment to this letter of agreement. {% else %} The current timeline is based on the scope of work, deliverables outlined, and availability of the Service Provider. In the event that the scope of work changes, service provider will provide you with a statement that includes the updated Scope of Work and any impact the proposed changes will have on the delivery dates of the SOW. Your signature on such document will be considered an amendment to this letter of agreement.{% endif %}

{% if (agreement.utilizing_third_parties == true) and (agreement.recipiant_written_approval_of_third_parties == true) %}
### Subcontracting

Service Provider shall not subcontract its obligations under this Agreement to another person or entity, in whole or in part, without Recipients prior written approval.
{% endif %}

{% endblock %}

{% block deliverables %}

### What deliverables will be produced during the Engagement?

Service Provider will provide the following deliverables to the Recipient.

{% for item in deliverables %}
#### {{ item.name }}
**Due:** {{ item.date_of_delivery }}
{{ item.purpose_of_deliverable }}
{%- endfor %}

{% if scope_changes.unpaid_recipiant_requested_revisions == true %}

### What do I do if the deliverables are not complete or if I want changes made?

The Recipient must inform Service Provider via {{ termination_with_cause.notification_format }} within {{ termination_with_cause.days_until_auto_acceptance }} business days of receiving any Deliverable of any objections, corrections, changes or amendments Client wishes made to such Deliverable. If the Recipient does not provide this notice within said stated time period, the Deliverable shall be deemed accepted.

### How many revisions can I request?

{% if scope_changes.unpaid_recipiant_requested_revisions == true %}
The Recipient can request up to {{ scope_changes.number_of_free_revisions_allowed }} revisions to a deliverable.
{% endif %}

{% if (payment.funded == "recipient") or (scope_changes.paid_recipiant_requested_revisions == true) %}
{% if scope_changes.unpaid_recipiant_requested_revisions == true %}
Beyond the included {{ scope_changes.number_of_free_revisions_allowed }} round(s) of revisions{% else %}Any round(s) of revisions that are requested {% endif %} will be billed at the following rates.

|Service|Description|Hourly Rate| Minimum Hours |
| --------------------------- | --------------------------------------------------- | --------- | ---------: |{% for item in rates %}{% if item.work_type == "deliverable_revision" %}
| {{ item.name }} | {{ item.description }} | {{ item.hourly_rate }} | {{ item.base_num_hours }} |{% endif %}{%- endfor %}

{% endif %}
{% endif %}

{% if termination_with_cause.notice_of_delays == true %}
### What if the Service Provider needs to extend the delivery date?

Service Provider will use all reasonable efforts to deliver the Deliverables on schedule. However, at its option, Service Provider can extend the due date for any Deliverable and/or Milestone by giving written notice to Recipient. This notice must be provided to Recipient {{ termination_with_cause.notification_days_before_deadline }} days before the Deliverable due date. The total of all such extensions shall not exceed {{ termination_with_cause.max_num_of_extension_delays }} days.
{% endif %}

{% endblock %}

{% block payment %}

### Payment Terms

The Recipient understands the importance of paying Service Provider in a timely manner and wants to maintain a positive working relationship with Service Provider to keep the project moving forward.

Payments for each invoice delivered by Service Provider to the Recipient are due within {{ payment.payment_due_days }} days of receipt. In case of overdue payments, Service Provider reserves the right to stop work until payment is received.

{% if payment.late_fee_charged == true %}

### Late Payment

In the event an invoice is not paid on time, to the maximum extent allowable by law, Service Provider will charge a late payment fee of {{ payment.late_fee_percentage }} per {{ payment.late_fee_timeline }} on any overdue and unpaid balance not in dispute.

{% endif %}

{% if expenses is not none %}


### Expense Reimbursement

The Recipient shall reimburse all expenses that are reasonable and that have been authorized in writing by the Recipient in advance; payable within {{ payment.payment_due_days }} days of itemized invoice. {{ expenses.basic_payment_conditions }}

Recipiant shall reimburse service provider for all reasonable out-of-pocket expenses incurred by service provider in performing services under this Agreement as long as such expenses are approved by recipiant in advance. Such expenses include, but are not limited to:
1. third-party expenses for online services, such as hosting and/or computing;
2. Service Provider travel required in the performance of the Engagement; and
3. other expenses resulting from the work performed under this Agreement.

{% endif %}

{% endblock %}

{% block sow %}

The Assessment component of the Engagement will consist of the following phases:

{% for item in activities %}
#### {{ item.name }}
* **Begins:** {{ item.begins }}
* **Duration:** {{ item.duration }}
{% if item.time != "" %}* **Total Time:** {{ item.time }}{% endif %}
{{ item.description }}
{% endfor %}
{% if scope_of_work.progress_updates_included == true %}
#### Update Meetings
* **Begins:** Status updates will start {{scope_of_work.status_updates_start}}
* **Duration:** Status updates will end {{scope_of_work.status_updates_end}}
Additionally, service providers designated contact {% for rep in representatives %}{% if rep.authorized_representative == true %}{% if rep.party == "service_provider" %}{{ rep.point_of_contact }}{% endif %}{% endif %}{% endfor %} will {% if scope_of_work.status_updates_format == "in_person" %} hold meetings with {{ scope_of_work.status_update_meeting_attendees }}{% else %} provide written status updates to{{ scope_of_work.written_updates_recipients }}{% endif %}, {{scope_of_work.status_updates_frequency}} to inform them of the overall progress of the assessment.
{% endif %}

{% if scope_of_work.activities_not_included != "" %}
### Activities Not Included
{{ scope_of_work.activities_not_included }}
{% endif %}

{% endblock %}

{% block assumptions %}

* Service Provider has the experience and ability to do everything agreed to for Recipient and will do it all in a professional and timely manner. Service Provider will endeavor to meet every deadline and perform the Engagement in accordance with the sector’s best practices.
* Service Provider will make every effort to avoid disrupting the Recipient's work environment more than is reasonable to conduct an assessment.
* The Recipient's personnel will provide service providers with all information requested to complete this engagement in a timely manner.
* The Recipient will provide full access to all Recipient participants and personnel, as required, throughout the duration of the engagement.
* The Recipient will provide Service Provider adequate workspace and Internet connections while on site to access email and other online resources.
* If the Recipient's emergency contacts do not have experience using the communication security practices outlined above Service Provider will guide them through the setup and use of the tools required.
* Service Provider is independent, non‐product affiliated, and not in the business of selling security systems hardware.

{% endblock %}

{% block pricing %}

Payments will be made to Service Provider for completion of milestones in accordance with the following payment schedule.

|Milestone|Estimated Completion Date|Payment Due on Delivery|
| --------------------------- | --------------------------------------------------- | ---------: |{% for item in milestones %}
| {{ item.name }} | {{ item.completion_date }} | {{ item.price }} |
{%- endfor %}
| --------------------------- | --------------------------- | --------------------------- |
| Total |  | {{ milestones|sum(attribute='price') }} |
{% endblock %}


{% block incident_response %}

If either Party identifies a suspected or known security incident during the Engagement (such as previous or active compromise to the Recipient's systems) they will suspend any assessment activities and inform the emergency contact(s) provided by the other party using one of the approved methods for secure communication within {{ incident_response_and_handling.disclosure_period }}.

The extent to which assessment activities will be suspended, and the degree to which incidents must be addressed for activities to continue will be decided per-incident based upon an agreement by both parties.

The extent to which assessment activities should be suspended will vary based on the the type of incident, but in many cases the only activities suspended are those involving the systems directly involved in the incident.

### Emergency Contacts

The Parties ability to be able to get in touch in an emergency is vital. Emergencies may arise, and each Party must have an established point of contact in order to handle them. Each Party will designate one or more emergency contacts. Each party will give a list containing the following information about each of those contacts to the other party.

- Full name:
- Title and operational responsibility:
- One to two forms of 24/7 immediate contact: (such as cell phone, pager, or home phone)
- One form of secure bulk data transfer: (such as SFTP or encrypted email)

**Recipient Contacts**

|Full Name|Immediete Contact|Immediete Contact|Secure Data Transfer|
| --------------------------- | --------------------------- | --------------------------- | --------------------------- |{% for rep in representatives %}{% if rep.party == "recipient" %}{% if rep.emergency_contact == true %}
| {{ rep.name }} | {{ rep.form_of_immediate_contact_one }} | {{ rep.form_of_immediate_contact_two }} | {{ rep.secure_data_transfer }} |{% endif %}{% endif %}{% endfor %}


**Service Provider Contacts**

|Full Name|Immediete Contact|Immediete Contact|Secure Data Transfer|
| --------------------------- | --------------------------- | --------------------------- | --------------------------- |{% for rep in representatives %}{% if rep.party == "service_provider" %}{% if rep.emergency_contact == true %}
| {{ rep.name }} | {{ rep.form_of_immediate_contact_one }} | {{ rep.form_of_immediate_contact_two }} | {{ rep.secure_data_transfer }} |{% endif %}{% endif %}{% endfor %}

### Service Provider Role in Addressing Incidents

When a security incident has been identified the Parties will come to an agreement as to whether the incident should be addressed immediately, or should be addressed after the Engagement.

{% if incident_response_and_handling.sp_must_support_incident_response == true %}

If the Parties decide that the security incident should be addressed immediately Service Provider will mitigate, to the extent practicable, the harmful effects of the security incident that are known to Service Provider; and document security incidents and their outcomes.

{% elif incident_response_and_handling.paid_incident_response_support_provided == true %}

If the Parties decide that the security incident should be addressed immediately the recipiant can request that this Agreement be ammended to include these activities. Service Provider will evaluate each such proposal at its standard rates and charges.

{% elif incident_response_and_handling.sp_must_support_incident_referrals == true %}

If the Parties decide that the security incident should be addressed immediately Service Provider will work with the Recipient to identify and contact an appropriate third-party who can mitigate, to the extent practicable, the harmful effects of the security incident that are known to Service Provider; and document security incidents and their outcomes. At this point the Parties will determine the extent to which Service Provider should continue assessment activities.

{% elif incident_response_and_handling.paid_sp_supported_incident_referrals == true %}

If the Parties decide that the security incident should be addressed immediately the recipiant can request that this Agreement be ammended to include Service Provider support for the Recipiant in identifying and contacting an appropriate third-party who can mitigate, to the extent practicable, the harmful effects of the security incident that are known to Service Provider; and document security incidents and their outcomes. Service Provider will evaluate each such proposal at its standard rates and charges.

{% endif %}

{% if scope_of_work.active_technical_measures == true %}
### Incidents Triggered by Assessment Activities

The Service Provider commits to prioritizing the stability and integrity of the Recipiant's digital infrastructure over any additional testing could be carried through more aggressive methods.

No tests will be performed that would stress the network, or any individual workstation, beyond what could be expected from normal use. If Service Provider has any doubt, Service Provider will consult with Recipient before carrying out the test.

In the unlikely event that Service Provider causes network or system disruption/damage, any active procedures will be terminated. Service Provider will then follow the security incident procedures described above.
{% endif %}

{% endblock %}

{% block priv_sec %}

- All Engagement findings, results, and recommendations are confidential and will be treated as such.
- Service Provider will not share any information that has been disclosed between Parties in relation to the Engagement.
- Confidential information will only be used for the purpose of the Engagement.
- Where disclosure to a third party is essential, the party wishing to disclose the information shall obtain prior written authorization to do so from the other party.
{% if confidentiality.agreement_is_considered_confidential %}
- Both Parties will keep this Agreement confidential, and will not disclose either the existence or the terms of the Agreement to third parties.
{% endif %}

{% if confidentiality.confidential_info_shared_with_third_parties == true %}

### Exceptions

Service Provider is able to provide {{ confidentiality.information_to_be_shared_with_third_parties }} (the "Third Party")to {{ confidentiality.third_parties_with_access_to_confidential_information }}.

All information provided to the Third Party will comply with the same Communications Security practices described in the next section.

Service Provider will take the following additional actions to reduce any risk to the Recipient when sharing this information.

{% for item in data_handling %}{% if item.reponsible_parties == "third_parties" %}{% if item.security_focus == "communications"%}
* {{ item.guideline }}
{% endif %}{% endif %}{%- endfor %}

{% endif %}

In the event either Party is required to disclose Confidential Information pursuant to a judicial or other governmental order, such Party shall, to the maximum extent permitted by law or opinion of counsel, provide the other party with prompt notice via {{ termination_with_cause.notification_format }} prior to any disclosure so that the party or its client may seek other legal remedies to maintain the confidentiality of such Confidential Information.

{% endblock %}

{% block safeguards %}

### Device Security

Service Provider will secure all the devices they will use for the assessment. This includes
{% for item in data_handling %}{% if item.reponsible_parties == "service_provider" or item.reponsible_parties == "both" %}{% if item.security_focus == "devices" %}
* {{ item.guideline }}
{% endif %}{% endif %}{%- endfor %}


### Communications Security

It will often be essential that confidential information be shared between the Recipient and Service Provider. In these situations, the Parties will adhere to the following standards:
{% for item in data_handling %}{% if item.reponsible_parties == "both" %}{% if item.security_focus == "communications" %}
* {{ item.guideline }}
{% endif %}{% endif %}{%- endfor %}


### Data Storage and Destruction

The Service Provider will create and collect a range of confidential information during the assessment. The Service Provider will adhere to the following standards in regards to the storage and destruction of data and documents containing confidential information:
{% for item in data_handling %}{% if item.reponsible_parties == "service_provider" or item.reponsible_parties == "both" %}{% if item.security_focus == "data" %}
* {{ item.guideline }}
{% endif %}{% endif %}{%- endfor %}
{% if scope_of_work.on_site_assessment_activities %}
* At the conclusion of the on-site portions of the Engagement, all engagement workpapers and hardcopy documents will be digitized, encrypted and stored on a secure file server by Service Provider. Service Provider will destroy the above hardcopy documents using the destruction practices described below.
{% endif %}
* Service Provider will destroy all confidential material they still have in their possession {{ secure_data_handling.data_retention_period }} after the Engagement.

The Recipient will is likely to be provided sensitive information as a part of this assessment. The Recipient will adhere to the following standards in regards to the storage and destruction of data and documents containing confidential information:
{% for item in data_handling %}{% if item.reponsible_parties == "recipent" or item.reponsible_parties == "both" %}{% if item.security_focus == "data" %}
* {{ item.guideline }}
{% endif %}{% endif %}{%- endfor %}


### Authorized Recipients Of Confidential Information

The above "Privacy and Security" and "Safeguards to Protect Confidential Data and Communications" statements define the entire agreement between the involved parties concerning the circulation and disclosure of Confidential Information.

The receiving parties agree not to disclose such information to any party not defined in this document as an ”authorized” party.

{% if confidentiality.confidential_info_shared_with_third_parties == true %}
The third parties identified in the Exceptions subsection to the Privacy and Security section are considered “authorized” parties for the speicfic pieces of information outlined in that section
{% endif %}

By signing below, the authorized parties signify that they understand and agree to the terms of this legally binding document.

Authorized Recipients Of Confidential Information


| Party     |Full Name    |Signature |
| --- | --- | --- |{% for rep in representatives %}{% if rep.access_confidential_information == true %}{% if rep.party == "recipient" %}
| | |
| Recipiant | {{ rep.name }} | _______________________ |{% endif %}{% endif %}{% endfor %}{% for rep in representatives %}{% if rep.access_confidential_information == true %}{% if rep.party == "service_provider" %}
| | |
| Service Provider | {{ rep.name }} | _______________________ |{% endif %}{% endif %}{% endfor %}

{% endblock %}
